# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/

# Build/coverage/test artifacts
dist/
coverage/
